#container {
position: absolute;
top: 10%;
left: 10%;
width: 80%;
height: 800px;
}
h1 {
font-family: "Saira Condensed", sans-serif;
font-weight: 700;
color: #333333;
font-size: 2rem;
margin-bottom: 10px;
}
#container {
width: 80%;
height: 80vh;  /* Set height as a percentage of the viewport height */
position: relative;
margin-top: 10px !important;
top: 0px !important;
}
@media screen and (max-width: 767px) {
#container {
margin-top: 150px;
position: relative;
top: -100px;
}
}
#footer {
position: relative;
top: 50px;
bottom: 0px;
width: 100%;
height: 300px;
padding: 0px;
background: black;
}
h2 {
font-family: "Saira Condensed", sans-serif;
font-weight: 400;
font-size: 1rem;
color: #959595;
}
a {
text-decoration: none;
color: #959595;
}
a:hover {
color: #333333;
}
img {
width: 152px;
margin-bottom: 10px;
padding-left: 2px;
user-select: none; /* Prevent text selection */
pointer-events: none; /* Disable mouse interactions */
}
button {
margin-top: 10px;
margin-bottom: 10px;
border-width: 0px;
background: #333333;
color: #FFFFFF;
font-family: "Saira Condensed", sans-serif;
font-weight: 500;
border-radius: 2.5px;
padding-left: 10px;
padding-right: 10px;
padding-top: 2px;
padding-bottom: 2px;
}
button:hover {
color: #959595;
}
#how-to-use {
color: #959595;
font-weight: 500;
}
section {
text-align: left;
margin: auto;
width: 80%;
padding-top: 100px;
}
